<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Vanity URLs rewritten to index.cfm?originalUrl=/original" patternSyntax="ECMAScript">
                    <match url="^((.*?)(\.html|/))?$" />
                    <action type="Rewrite" url="/index.cfm?originalUrl=/{R:0}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

