<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Vanity URLs rewritten to index.cfm" patternSyntax="ECMAScript">
                    <match url="^((.*?)(\.html|/))?$" />
                    <action type="Rewrite" url="/index.cfm" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>

